/* different screen sizes */
@media(max-width : 350px){


    .logo .logo_img{
        width: 30%;
    
    }
    
    .description h4{
        font-size: 12px;
    }
    .description p{
        font-size: 11px;
    
    }
    
    .boxes {
        padding: 40px 50px 30px;
        
    }
    
    
    input[type="checkbox"] + label {
        /* padding-left: 30px;
        margin-bottom: 32px; */
    
        width: 90%;
        font: 12px/16px Raleway,sans-serif;
    
      }
    
    
/* START button */
    
    .btn-primary{

        height: 40px;
        font-size: 12px;
    }
}
